@import '/node_modules/bootstrap/scss/bootstrap.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root,
#app-layout,
.page-layout {
  height: 100%;
}

.form-button-container {
  margin-right: -0.25rem;
}
